body {
	font-family:ubuntu, arial, sans-serif;
	background-color:#222;
	color:#fff;
	text-shadow:-1px 1px 1px #000;
	margin-top:0;
}
#wrapper {
	margin:0 auto;
	padding:15px 20px;
	width:800px;
	box-shadow:0 0 4px #000;
}
h1 {
	text-decoration:underline;
	text-shadow:-2px 2px 3px #000;
	margin:0 0 30px 0;
}
h2 {
	margin-bottom:15px;
}
span.result {
	color: #0f0;
}
span.error {
	color:#f00;
}
footer {
	margin:0 auto;
	padding:10px 20px;
	width:800px;
	background-color: rgba(0, 0, 0, 0.2);
	text-align:center;
	font-size:0.7em;
	border: solid 1px black;
}
table {
	border-collapse:collapse;
}
th, td {
	text-align:left;
	padding:10px;
}
a {
	color:white;
}

